<app-cocktail itemType="detailItem" [cocktail]="cocktail()">
  <div class="info-item tags">
    <div class="name">Type:</div>
    <div class="content">
      <app-cocktail-alcohol-tag
        [isAlcoholic]="cocktail().isAlcoholic"
      ></app-cocktail-alcohol-tag>
    </div>
  </div>
  <div class="info-item ingredients">
    <div class="name">Ingredients:</div>
    <div class="content">
      <ul>
        @for (ingredient of cocktail().ingredients; track $index) {
          <li>{{ ingredient }}</li>
        }
      </ul>
    </div>
  </div>
  <div class="info-item instructions">
    <div class="name">Instructions:</div>
    <div class="content">{{ cocktail().instructions }}</div>
  </div>
</app-cocktail>
