.info-item {
  display: contents;

  .name {
    font-weight: bold;
  }

  .name,
  .content {
    font-size: inherit;
  }
}

.ingredients {
  ul {
    margin: auto;
  }
}

.instructions {
  text-align: justify;
}
