<div>
  <img
    class="image"
    loading="lazy"
    [src]="cocktail().imageUrl"
    [alt]="cocktail().name"
    [width]="ITEM_TYPE_MAPPER[itemType()].IMG_SIZE"
    [height]="ITEM_TYPE_MAPPER[itemType()].IMG_SIZE"
  />
</div>
<div class="info-wrapper">
  <div class="header">
    @switch (itemType()) {
      @case (CocktailItemEnum.LIST_ITEM) {
        <a class="title-link" [routerLink]="[cocktail().id]">{{
          cocktail().name
        }}</a>
      }
      @case (CocktailItemEnum.DETAIL_ITEM) {
        <h1 class="title">{{ cocktail().name }}</h1>
      }
    }
    <app-cocktail-favourite-toggle
      [initialValue]="cocktail().isFavourite"
      [cocktailId]="cocktail().id"
    ></app-cocktail-favourite-toggle>
  </div>
  <div class="content-container">
    <ng-content></ng-content>
  </div>
</div>
